/* General setup */

* {
  box-sizing: border-box;
font-family: 'Playfair Display SC', serif;
font-size: 10px;
outline: none;
}


body {
  margin: 0;
  min-width: 1000px;
  max-width: 0px;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 10px;
}
/*nav menu*/
nav ul {
    padding-left: 0;
    margin-top: 0.8em;

}
nav li {
    list-style-type: none;
    margin-bottom: 2em;
}
nav li a {
    text-decoration: none;
    display: inline-block;
    width:100%;
    line-height: 20px;
    font-size: 2em;
    border: 3px solid brown;
}

/* BASE STYLES */
a:hover {
    color: deeppink;
    text-decoration-line: none;
}
a:active{
    color:greenyellow;
}

/* Layout */

section {
  float: left;
  width: 50%;
  text-indent:20px; 
}
h1 {
    font-size: 25px;
    letter-spacing: inherit;
    
}
h2 {
    font-size: 17px;
    letter-spacing: inherit;
}

aside {
  float: left;
  width: 30%;
}
nav{
    float: left;
    width: 20%;
}
footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
  letter-spacing: normal;
  
}
h1 {
   text-align: center
}

/* WRITE YOUR CODE BELOW HERE */